<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut">
      <h1>Welcome {{ user.username }}!</h1>
      <button (click)="signOut()">Sign Out</button>
  </ng-template>
</amplify-authenticator>
<!--
<div id="g_id_onload"
  data-client_id='790540636311-qho06cv5jp21hlbt9mn7utrquausi55b.apps.googleusercontent.com'
  data-prompt_parent_id="g_id_onload"
  data-cancel_on_tap_outside="false"
  style="position: absolute; left: 79%; top: 124px; width: 0; height: 0; z-index: 1001;">
</div>
-->

<button class='federated-sign-in' (click)='federatedSignIn()'>Federated Sign In</button>
<router-outlet></router-outlet>
